.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.text-style-white {
  color: white;
}

.jumbotron {
  /* background: url('mateusz-cudo-GiWLj3Mfwo0-unsplash.jpg') no-repeat center center fixed; */
  background: url('clay-leconey-D6gB8bVu4PE-unsplash.jpg') no-repeat center center;
  /* background: url('benjamin-davies-Zm2n2O7Fph4-unsplash.jpg') no-repeat center center fixed; */
  /* background: url('johny-goerend-xaSM1R157vI-unsplash.jpg') no-repeat center center ; */
  /* background: url('raquel-pedrotti-hB-Vwbyxr9U-unsplash.jpg') no-repeat center center fixed; */
  /* background: url('gaetano-cessati-d91HDmCta0k-unsplash.jpg') no-repeat center center fixed; */
  /* background: url('karsten-wurth-UbGYPMbMYP8-unsplash.jpg') no-repeat center center fixed; */
  /* background: url('jake-gard-CetB-bTDBtY-unsplash.jpg') no-repeat center center; */
  /* background: url('loren-gu-IG1EdbuYCy8-unsplash.jpg') no-repeat center center; */
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}
